html {
    font-family: Verdana, sans-serif;
    background-color: black;
}

.centered {
    text-align: center;
}

.content h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.content p {
    font-size: 16px;
    color: aquamarine;
}